:root {
  --bg: url(./assets/images/bg.png);
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0);
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0,-40px,0);
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes fadeInDownRight {
  from {
    transform: translate3d(-40px, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDownLeft {
  from {
    transform: translate3d(40px, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUpRight {
  from {
    transform: translate3d(-40px, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUpLeft {
  from {
    transform: translate3d(40px, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gentium Book Basic', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Alfa Slab One', cursive;
}

.fadeInUp {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
}

.fadeInDown {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInDown;
}

.fadeInDownRight {
  animation-duration: 0.75s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInDownRight;
}

.fadeInDownLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInDownLeft;
}

.fadeInUpRight {
  animation-duration: 1.25s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUpRight;
}

.fadeInUpLeft {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUpLeft;
}
